/make/build*
/make/dist*
/test/*
!/test/src/
!/test/Makefile
/testunit/build/
/testunit/bin/
/testunit/lib/
/test09/
/testZP/
*.list
*.tar.bz
*.tar.gz
*.tar
tags
cscope.*
log4cplus/
/testunit/*
!/testunit/Makefile
!/testunit/*.cpp
!/testunit/*.h
.*
