/make/build*
/make/dist*
/testunit/build/
/testunit/bin/
/testunit/lib/
/test242/*
!/test242/Makefile
!/test242/src/
*.list
*.tar.bz
*.tar.gz
*.tar
tags
cscope.*
log4cplus/
/testunit/*
!/testunit/Makefile
!/testunit/*.cpp
!/testunit/*.h
.*
